<H1 class="d-flex justify-content-center">PRUEBA DE COMPONTE</H1>

  <div class="container d-flex justify-content-center flex-wrap" >
    <app-card class="p-2" *ngFor="let item of listaCapitulos" [rutaImage]="item.image" [tituloCard]="item.name" ></app-card>
  </div>
<!--
 <button (click)="ver()">mostrar</button>

<ul>
  <li *ngFor="let elemento of elementos">{{ elemento }}</li>
</ul>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Correo Electrónico</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <td>{{ persona.nombre }}</td>
      <td>{{ persona.edad }}</td>
      <td>{{ persona.correo }}</td>
    </tr>
  </tbody>
</table>

<h1 *ngIf="mostrar"> esto se puede ver</h1> -->
